.badge {
    border: 1px solid $color-black;
    border-radius: 100%;
    color: $color-grey-dark;
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 26px;

    &.gold {
        background-color: $color-gold;
        box-shadow: 0 0 0 2px $color-gold;
    }

    &.silver {
        background-color: $color-silver;
        box-shadow: 0 0 0 2px $color-silver;
    }

    &.bronze {
        background-color: $color-bronze;
        box-shadow: 0 0 0 2px $color-bronze;
    }
}
