$color-black: #000;
$color-white: #fff;

$color-blue: #00c9ff;
$color-red: #ff3535;
$color-green: #348449;

$color-gold: #fae53f;
$color-silver: #fafaf8;
$color-bronze: #fd9628;

$color-fb: #3e549c;

$color-grey-light: #e9eaee;
$color-grey-mid: #202122;
$color-grey-dark: #151718;
$color-grey-xdark: #050505;

$color-border-dark: #303032;
$color-border-light: $color-grey-light;

$media-huge: 1180px;
$media-large: 720px;
